In [2]:
import pandas as pd
import numpy as np

In [3]:
countries = [
    "United States",
    "Canada",
    "Mexico",
    "Brazil",
    "Argentina",
    "United Kingdom",
    "Germany",
    "France",
    "South Africa",
    "Nigeria",
    "Kenya",
    "Egypt",
    "India",
    "China",
    "Japan",
    "South Korea",
    "Vietnam",
    "Australia",
    "Saudi Arabia",
    "Philippines"
]

In [5]:
final_df = pd.DataFrame()

### GDP in USD

In [ ]:
df_gdp_usd = pd.read_csv('data/gdp_usd.csv')
df_gdp_usd_2020 = df_gdp_usd[df_gdp_usd["Country Name"].isin(countries)][["Country Name", "2020"]]
#rename the column to "GDP"
df_gdp_usd_2020.columns = ["Country Name", "GDP_USD"]
df_gdp_usd_2020.head()

   Country Name           GDP
9     Argentina  3.857405e+11
13    Australia  1.330382e+12
29       Brazil  1.476107e+12
35       Canada  1.655685e+12
40        China  1.468774e+13

### Rural Pop

In [11]:
df_rural_pop = pd.read_csv('data/rural_pop.csv')
df_rural_pop_2020 = df_rural_pop[df_rural_pop["Country Name"].isin(countries)][["Country Name", "2020"]]
df_rural_pop_2020.columns = ["Country Name", "Rural_Population"]
df_rural_pop_2020.head()

   Country Name  Rural_Population
9     Argentina             7.889
13    Australia            13.759
29       Brazil            12.927
35       Canada            18.438
40        China            38.572

### Df urban pop

In [ ]:
df_urban_pop = pd.read_csv('data/urban_pop.csv')
df_urban_pop_2020 = df_urban_pop[df_urban_pop["Country Name"].isin(countries)][["Country Name", "2020"]]
df_urban_pop_2020.columns = ["Country Name", "Urban_Population"]
df_urban_pop_2020.head()

   Country Name  Urban_Population
9     Argentina            92.111
13    Australia            86.241
29       Brazil            87.073
35       Canada            81.562
40        China            61.428

In [ ]:
### Life Expectancy

In [16]:
life_expectancy = pd.read_csv('data/life_exp.csv')
life_expectancy_2020 = life_expectancy[life_expectancy["Country Name"].isin(countries)][["Country Name", "2020"]]
life_expectancy_2020.columns = ["Country Name", "Life_Expectancy"]
life_expectancy_2020.head()

   Country Name  Life_Expectancy
9     Argentina           72.546
13    Australia           81.200
29       Brazil           70.700
35       Canada           79.480
40        China           75.305

In [ ]:
#concat all
final_df = pd.concat([df_gdp_usd_2020, df_rural_pop_2020, df_urban_pop_2020, life_expectancy_2020], axis=1)
final_df.head(20)

,Country Name,GDP,Country Name,Rural_Population,Country Name,Urban_Population,Country Name,Life_Expectancy
9,Argentina,3.857405e+11,Argentina,7.889,Argentina,92.111,Argentina,72.546
13,Australia,1.330382e+12,Australia,13.759,Australia,86.241,Australia,81.200
29,Brazil,1.476107e+12,Brazil,12.927,Brazil,87.073,Brazil,70.700
35,Canada,1.655685e+12,Canada,18.438,Canada,81.562,Canada,79.480
40,China,1.468774e+13,China,38.572,China,61.428,China,75.305
55,Germany,3.887727e+12,Germany,22.547,Germany,77.453,Germany,78.700
77,France,2.647419e+12,France,19.025,France,80.975,France,79.200
81,United Kingdom,2.697807e+12,United Kingdom,16.097,United Kingdom,83.903,United Kingdom,78.400
109,India,2.674852e+12,India,65.074,India,34.926,India,68.615
119,Japan,5.055587e+12,Japan,8.218,Japan,91.782,Japan,81.560
121,Kenya,1.006575e+11,Kenya,72.005,Kenya,27.995,Kenya,60.372
154,Mexico,1.120832e+12,Mexico,19.269,Mexico,80.731,Mexico,66.334
174,Nigeria,4.321989e+11,Nigeria,48.042,Nigeria,51.958,Nigeria,52.456
187,Philippines,3.617511e+11,Philippines,52.592,Philippines,47.408,Philippines,70.244
205,Saudi Arabia,7.342712e+11,Saudi Arabia,15.713,Saudi Arabia,84.287,Saudi Arabia,74.966
251,United States,2.132295e+13,United States,17.336,United States,82.664,United States,74.200
263,South Africa,3.382914e+11,South Africa,32.646,South Africa,67.354,South Africa,62.178