In [61]:
import pandas as pd
import numpy as np

In [74]:
countries = [
    "United States",
    "Canada",
    "Mexico",
    "Brazil",
    "Russia",
    "United Kingdom",
    "Germany",
    "France",
    "South Africa",
    "Nigeria",
    "Kenya",
    "Egypt",
    "India",
    "China",
    "Japan",
    "South Korea",
    "Vietnam",
    "Australia",
    "Saudi Arabia",
    "Philippines"
]

In [75]:
final_df = pd.DataFrame()

### GDP in USD

In [76]:
df_gdp_usd = pd.read_csv('data/gdp_usd.csv')
df_gdp_usd_2020 = df_gdp_usd[df_gdp_usd["Country Name"].isin(countries)][["Country Name", "2020"]]
#rename the column to "GDP"
df_gdp_usd_2020.columns = ["Country Name", "GDP_USD"]
df_gdp_usd_2020.head()

   Country Name       GDP_USD
13    Australia  1.330382e+12
29       Brazil  1.476107e+12
35       Canada  1.655685e+12
40        China  1.468774e+13
55      Germany  3.887727e+12

### Rural Pop

In [77]:
df_rural_pop = pd.read_csv('data/rural_pop.csv')
df_rural_pop_2020 = df_rural_pop[df_rural_pop["Country Name"].isin(countries)][["Country Name", "2020"]]
df_rural_pop_2020.columns = ["Country Name", "Rural_Population"]
df_rural_pop_2020.head()

   Country Name  Rural_Population
13    Australia            13.759
29       Brazil            12.927
35       Canada            18.438
40        China            38.572
55      Germany            22.547

### Df urban pop

In [78]:
df_urban_pop = pd.read_csv('data/urban_pop.csv')
df_urban_pop_2020 = df_urban_pop[df_urban_pop["Country Name"].isin(countries)][["Country Name", "2020"]]
df_urban_pop_2020.columns = ["Country Name", "Urban_Population"]
df_urban_pop_2020.head()

   Country Name  Urban_Population
13    Australia            86.241
29       Brazil            87.073
35       Canada            81.562
40        China            61.428
55      Germany            77.453

In [79]:
### Life Expectancy for male
life_expectancy_male = pd.read_csv('data/male_le.csv')
df_life_expectancy_male = life_expectancy_male[life_expectancy_male["Country Name"].isin(countries)][["Country Name", "2020"]]
df_life_expectancy_male.columns = ["Country Name", "male_le"]
df_life_expectancy_male.head()

   Country Name  male_le
13    Australia   81.200
29       Brazil   70.700
35       Canada   79.480
40        China   75.305
55      Germany   78.700

In [80]:
### Life Expectancy for female
life_expectancy_female = pd.read_csv("data/female_le.csv")
df_life_expectancy_female = life_expectancy_female[life_expectancy_female["Country Name"].isin(countries)][["Country Name", "2020"]]
df_life_expectancy_female.columns = ["Country Name", "male_le"]
df_life_expectancy_female.head()

   Country Name  male_le
13    Australia   85.300
29       Brazil   77.375
35       Canada   83.950
40        China   81.058
55      Germany   83.500

In [81]:
### Food production
food_production = pd.read_csv('data/food_production_indexcsv.csv')
food_production_2020 = food_production[food_production["Country Name"].isin(countries)][["Country Name", "2020"]]
food_production_2020.columns = ["Country Name", "Food_Production"]
food_production_2020.head()

   Country Name  Food_Production
13    Australia            87.12
29       Brazil           111.97
35       Canada           112.78
40        China           105.49
55      Germany            95.45

In [82]:
### GDP per capita
gdp_per_capita = pd.read_csv('data/GDP per capita (current US$).csv')
gdp_per_capita_2020 = gdp_per_capita[gdp_per_capita["Country Name"].isin(countries)][["Country Name", "2020"]]
gdp_per_capita_2020.columns = ["Country Name", "GDP_per_Capita"]
gdp_per_capita_2020.head()

   Country Name  GDP_per_Capita
13    Australia    51868.247560
29       Brazil     6923.699912
35       Canada    43537.839300
40        China    10408.719550
55      Germany    46749.476230

In [83]:
### Inflation
inflation = pd.read_csv('data/Inflation, consumer prices (annual %).csv')
inflation_2020 = inflation[inflation["Country Name"].isin(countries)][["Country Name", "2020"]]
inflation_2020.columns = ["Country Name", "Inflation"]
inflation_2020.head()

   Country Name  Inflation
13    Australia   0.846906
29       Brazil   3.211768
35       Canada   0.717000
40        China   2.419422
55      Germany   0.144878

In [85]:
#concat all
final_df = pd.concat([df_life_expectancy_male, df_life_expectancy_female.iloc[:, 1], df_gdp_usd_2020.iloc[:, 1], gdp_per_capita_2020.iloc[:, 1], df_rural_pop_2020.iloc[:, 1], df_urban_pop_2020.iloc[:, 1], food_production_2020.iloc[:, 1], inflation_2020.iloc[:, 1]], axis=1)
final_df.head(20)
final_df.to_csv('data/final_data.csv', index=False)